	<header class="sticky">
		<h3  class="center">
			<nobr><span class="FirstName">Felix</span>
			<span class="LastName">Villalobos</span></nobr>
		</h3>
		
		<div class="menu-button">
			<i class="large material-icons">arrow_drop_down</i>
		</div>

		<nav class="menu">
				<div class="menu-picture">
						<div class="portrait"></div>
				</div>
				<ul class="menu-options">
						<li class="menu-item aboutBtn"><a href="/about" class="menu-link">About me</a></li>
						<li class="menu-item portfolioBtn"><a href="/portfolio" class="menu-link">My Work</a></li>
						<li class="menu-item contactBtn"><a href="/contact" class="menu-link">Contact</a></li>
				</ul>
		</nav>
	</header>
