{{> nav}}
<main class="main">
<div class="container">
	<div class="row center">
		<h4>About Me</h4>
		<div class="col s12">
			<img class="About-Pic" src="Images/me.png" alt="Picture of me" title="Felix Villalobos">
		</div>
		<div class="col s12 m4">
			<a class="contact-mine" href="https://www.linkedin.com/in/felixvl/" target="_blank"><span class="contact-First"><i
						class="fa fa-linkedin-square" aria-hidden="true"></i></span><span class="contact-Second">
					LinkedIn</span></a>
		</div>
		<div class="col s12 m4">
			<a class="contact-mine" href="https://github.com/felixvl31" target="_blank"><span class="contact-First"><i
						class="fa fa-github" aria-hidden="true"></i></span><span class="contact-Second"> Github</span></a>
		</div>
		<div class="col s12 m4">
			<a class="contact-mine" href="Personal/CV.pdf" target="_blank"><span class="contact-First"><i
						class="fa fa-file-pdf-o" aria-hidden="true"></i></span><span class="contact-Second"> CV</span></a>
		</div>
		<div class="col s12 hide-on-small-only show-on-medium-and-up">
			<p class="Bio">Full-Stack Web developer with strong skills in HTML, CSS & JavaScript, as well as some automation
				tech such as PLC’s, robots and sensors from previous career.
				Passionate about challenges and have interest in solving algorithmically complex problems. Seeking role as a web
				developer at a company where highly creative problem-solving is encouraged and looking forward to learn, grow,
				be challenged.<br> </p>
		</div>
				<div class="col s12 show-on-small hide-on-med-and-up">
			<p class="Bio">Web Developer with strong skills in HTML, CSS & JavaScript, as well as some automation
				tech such as PLC’s, robots and sensors from previous career.<br>
				Passionate about challenges and solving algorithmically complex problems.<br> </p>
		</div>
		<div class="col s12"></div>
		<div class="col s12 m5 offset-m1">
			<p class="Bio left-align">-Tecnológico de Monterrey<br> -Bachelor in
				Mechatronics Engineering<br> 4 years studying and practicing at one of the most prestigious universities in
				Mexico, majored in Mechatronics.</p>
		</div>

		<div class="col s12 m5">
			<p class="Bio left-align">-University of Texas at Austin <br> -Coding Bootcamp <br> Currently gaining hands-on experience on a
				Full-Stack Web Development Boot Camp at UT Austin, learning and practicing the MERN stack. <br> </p>
		</div>

		<div class="col s12 m8 offset-m2">
				<p class="Bio center-align">
					Technologies <br>
					HTML5, CSS3, Bootstrap, Media Queries, JavaScript, jQuery, GIT, GitHub, Firebase, APIs, JSON, AJAX, Node.js, Express,MYSQL, Sequelize, ORM, MVC, MongoDB
				</p>

		</div>

	</div>
</div>

</main>

{{> footer}}